<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/output.css">
</head>
<body>
    <div class="container-fluid bg-black m-auto h-20 flex items-center">
        <div class=" container m-auto h-20 flex items-center justify-between">
           
            <div class="flex items-center space-x-4">
            <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/logo-pendidikan@2x.0ce0acdc.webp" width="50px" height="55px" alt="">
            <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/logo-white@2x.5330316a.webp" width="70px" height="70px" alt="">
            </div>

            <div class="lg:flex hidden  items-center space-x-5 text-white font-bold">
            <a href="#" >Beranda</a>
            <a href="#" >Program</a>
            <a href="#" >Butuh Bantuan?</a>
            <button class="border  border-s-white space-x-5 bg-white rounded m-3x3 p-3 flex items-center text-black "><ion-icon name="person" class="mr-2 text-gray-400"></ion-icon>Masuk Akun</button>
            </div>
        
        <div class="text-3xl text-white lg:hidden block">
             <ion-icon name="grid"></ion-icon>
        </div>

     </div> 
    </div>

    <div name="navbar bawah" class="container-fluid m-auto h-24 lg:flex hidden items-center">
        <div class="container m-auto  h-full flex items-center font-semibold">
            <div class="flex items-center space-x-8 text-xl hover:text-blue-600 p-5">
                <a href="#" >Kampus Mengajar</a>
                <ion-icon name="chevron-down"></ion-icon>
            </div>
           
            <div class="flex items-center space-x-8 text-xl hover:text-blue-600 p-5">
                <a href="#" >Magang MSIB</a>
                <ion-icon name="chevron-down"></ion-icon>
            </div>
            <div class="flex items-center space-x-8 text-xl hover:text-blue-600 p-5">
                <a href="#" >Studi Independen Berserikat</a>
                <ion-icon name="chevron-down"></ion-icon>
            </div>
            <div class="flex items-center space-x-8 text-xl hover:text-blue-600 p-5">
                <a href="#" >Pertukaran Mahasiswa Merdeka</a>
                <ion-icon name="chevron-down"></ion-icon>
            </div>
            <div class="flex items-center space-x-8 text-xl hover:text-blue-600 p-5">
                <a href="#" >Program dan Kegiatan lainnya</a>
                <ion-icon name="chevron-down"></ion-icon>
            </div>
        </div>
    </div>

    <div class="container mt-12 m-auto">
        <h1 class="font-bold text-4xl"> Program Kampus Merdeka</h1>
    
     <div class="lg:grid-cols-3 grid-cols-1 grid gap-4 pt-10">
        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden  lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/kampus-mengajar-logo-mobile@2x.8e394d30.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/kampus-mengajar-logo-mobile@2x.8e394d30.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Kampus Mengajar</h1>
                <p class="font-light">Bantu peningkatan kualitas pendidikan dasar dengan terlibat langsung  pada proses pengajaran di sekolah-sekolah yang berlokasi di seluruh daerah di Indonesia.</p>
            </div>
            <div class="flex flex-col mt-8 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
                <a href="#" class="flex items-center justify-between border-t pt-5">Syarat dan Ketentuan<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>
        
        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center items-start py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/msib-logo@2x.e1ad4cf6.webp" alt=""></div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/msib-logo-mobile.da2d26a6.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Magang MSIB</h1>
                <p class="font-light">Dapatkan pengalaman dunia kerja secara langsung sebagai persiapan kariermu.</p>
                <button class="border-2 border-black p-3 rounded-3xl mt-4"> Cari Posisi Magang</button>
            </div>
            <div class="flex flex-col mt-8 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
                <a href="#" class="flex items-center justify-between border-t pt-5">Syarat dan Ketentuan<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>

        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/msib-logo@2x.e1ad4cf6.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/msib-logo-mobile.da2d26a6.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Studi Independen </h1>
                <p class="font-light">Jalankan proyek penelitian dengan studi kasus nyata dari para pelaku industri ternama.</p>
                <button class="border-2 border-black p-3 rounded-3xl mt-4"> Cari Kelas Studi Independen</button>
            </div>
            <div class="flex flex-col mt-8 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
                <a href="#" class="flex items-center justify-between border-t pt-5">Syarat dan Ketentuan<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>

        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/pmm-logo.02f2aceb.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/pmm-logo-mobile.bfc99302.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Pertukaran Mahasiswa Merdeka </h1>
                <p class="font-light">Program pertukaran mahasiswa dalam negeri  yang memberikan pengalaman langsung untuk lebih memaknai keberagaman budaya nusantara.</p>
            </div>
            <div class="flex flex-col mt-8 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
                <a href="#" class="flex items-center justify-between border-t pt-5">Syarat dan Ketentuan<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>

        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/wmk-logo.8e10d0f7.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/wmk-logo-mobile.03fc86ab.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Wirausaha Merdeka</h1>
                <p class="font-light">Ikuti program unggulan dari berbagai Perguruan Tinggi yang bertujuan untuk meningkatkan kemampuan wirausaha.</p>
            </div>
            <div class="flex flex-col mt-24 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>

        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/iisma-logo.0971cb16.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/iisma-logo-mobile.e601a298.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Indonesian International Student Mobility Awards </h1>
                <p class="font-light">Program pertukaran dengan universitas lain dari seluruh dunia untuk bertukar budaya.</p>
            </div>
            <div class="flex flex-col mt-8 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
                <a href="#" class="flex items-center justify-between border-t pt-5">Syarat dan Ketentuan<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>

        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/praktisi-mengajar-logo.f46e6623.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/praktisi-mengajar-logo-mobile.7e3aae33.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Praktisi Mengajar </h1>
                <p class="font-light">Ruang kolaborasi antara Praktisi sebagai representasi industri dengan dosen Perguruan Tinggi dalam bentuk pengajaran mata kuliah agar mahasiswa lebih siap untuk masuk ke dunia kerja.</p>
            </div>
            <div class="flex flex-col mt-24 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Program<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>
        
    </div>

</div>

<!-- <div class="border-t border-gray-300 flex items-center mt-9"></div> -->

<div class="container mt-8 m-auto border-t border-gray-300 ">
    <h1 class="font-semibold text-5xl mt-8"> Kegiatan Lainnya</h1>

    <div class="lg:grid-cols-3 grid-cols-1 grid gap-4 pt-10">
        <div name="card" class="flex flex-col border p-8 rounded-xl shadow-md">
            <div class="lg:flex hidden lg:items-center py-5">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/logo-mandiri.4e08d727.webp" alt="">
            </div>
            <div class="lg:hidden flex lg:items-center lg:py-5 py-2">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/logo-mandiri-mobile.4e08d727.webp" width="150px" height="150px" alt="">
            </div>
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl">Magang Mandiri  </h1>
                <p class="font-light">Temukan pengalaman dunia kerja yang dikelola langsung oleh perusahaan tanpa ada batasan kuota dan jadwal yang lebih fleksibel.</p>
            </div>
            
            <div class="flex flex-col mt-24 text-blue-500 font-semibold text-xl">
                <a href="#" class="flex items-center justify-between mt-8 border-t pt-5">Tentang Kegiatan<ion-icon name="arrow-forward"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="container  flex ">
        <div class="empty-div h-32 w-64"></div>
    </div>
</div>



<div name="footer" class="bg-black m-auto lg:flex hidden items-center h-screen w-screen ">
    <div class="text-white container m-auto w-full h-96 grid grid-rows-2 ">
        <div class="grid-cols-4 grid gap-5">
           
            <div name="gambar" class="pl-40">
                <img src="https://kampusmerdeka.kemdikbud.go.id/static/media/logo-kemendikbud@2x.8229b760.webp" width="120px" height="120px" alt="">
            </div>      
            <div name="Direktorat" class="space-y-5 flex flex-col">
                <h1 class="font-bold">Direktorat Jenderal Pendidikan Tinggi, Riset, dan Teknologi (Diktiristek)</h1>
                <div class="flex flex-col space-y-2">
                    <p>marketing@kampusmerdeka.co</p>
                    <p>Jl. Jenderal Sudirman, Senayan, Jakarta 10270</p>
                </div>
            </div>
           
            <div name="Navigasi" class="flex flex-col space-y-5 pl-32">
                <h1 class="font-bold">Navigasi</h1>
                <ul class="flex flex-col space-y-3">
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Berita</a></li>
                    <li><a href="#">Pengumuman</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Program</a></li>
                    <li><a href="#">Daftar</a></li>
                </ul>
            </div>
            
            <div name="eksternal" class="flex flex-col space-y-5">
                <h1 class="font-bold">Navigasi</h1>
                <a href="#">Mitra Kampus Merdeka</a>
            </div>
        </div>
        <div class="flex flex-col items-center">
        <div class="container mt-32  grid-cols-4 grid h-20">
            <div></div>
            <div class="flex items-center space-x-4 m-auto text-white text-3xl">
                <ul class="flex flex-row space-x-2 text-3xl">
                    <li> <a href="#" ><ion-icon name="logo-twitter" ></ion-icon></a></li>
                    <li> <a href="#" ><ion-icon name="logo-instagram" ></ion-icon></a></li>
                    <li><a href="#" ><ion-icon name="logo-youtube" ></ion-icon></a></li>
                    <li> <a href="#" ><ion-icon name="logo-facebook" ></ion-icon></a></li>
                    <li><a href="#" ><ion-icon name="logo-linkedin" ></ion-icon></a></li>
                    <li><a href="#" ><ion-icon name="globe-outline"></ion-icon></a></li>
                </ul>
             </div>
    
             <div class="flex items-start  text-white col-span-2 pl-32">
                <p>Hak Cipta 2022 Kementerian Pendidikan dan Kebudayaan RI <br>
                    Foto oleh ITS, ITERA, and UI</p>
             </div>
        </div>
    </div>

        
    </div>
    
</div>



<div name="navbar-bawah-icon" class="fixed bottom-0 left-0 right-0 w-full h-14 gb-slate-200 text-black lg:hidden flex ">
    <div class="flex items-center container justify-between m-auto text-xl">

        <div class="flex flex-col items-center">
        <ion-icon name="home-sharp"></ion-icon>
          <a href="#">Beranda</a>
        </div>

        <div class="flex flex-col items-center text-orange-300  ">
            <ion-icon name="bag-handle-outline"></ion-icon>
         <a href="#">Program</a>
        </div>

        <div class="flex flex-col items-center">
        <ion-icon name="help-circle-outline"></ion-icon>
        <a href="#">FAQ</a>
        </div>

        <div class="flex flex-col items-center">
        <ion-icon name="person" class="mr-2"></ion-icon>
        <a href="#">Masuk</a>
        </div>

    </div>
</div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>